@use '../base' as *;

:host {
    display: flex;
    background-color: $base-bcg-bottom;
    height: 60px;

    .logo {
        flex: 1 1 auto;
        color: $base-text-color;
        font-size: 24px;
        height: 100%;
        align-content: center;
        margin-left: 50px;
        user-select: none;
        cursor: pointer;
    }

    .button-panel {
        flex: 0 0 auto;
        margin-right: 50px;

        button {
            height: 40px;
            width: 80px;
            margin: 10px 5px;
            border-radius: 3px;
            font-size: 16px;
            border: 0;
            background: #282e38ff;
            transition: .1s linear all;
            cursor: pointer;
            color: $base-text-color;
            font-weight: 100;
        }

        button:hover {
            background: $base-text-color;
            color: black;
        }

        button:active {
            transform: translateY(2px);
        }

        .menu_container {
            position: relative;
            display: inline-block;
        }
        
        .trigger {
            cursor: pointer;
        }
        
        .dropdown_menu {
            position: absolute;
            top: 100%;
            right: 0;
            background-color: $base-bcg-top;
            border: 1px solid $base-bcg-bottom;
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
            border-radius: 16px;
            overflow: hidden;
            z-index: 1000;
            padding: 15px 30px;

            table {
                width: 100%;
                tr {
                    th {
                        text-align: left;
                        color: gray;
                        font-weight: 100;
                    }
                }
            }

            .btn-table {
                width: 100%;
                text-align: center;
                display: flex;
            }
        }
    } 
}